
body {

background-color: rgb(72, 91, 199);

}



    h1{
    
        color: antiquewhite;
        font-size: 10cm;
        align-content: center;


    }
#newburger {
    border-radius: 50px;
}

#color-override {
    color: #fff;
    
    
}

#lefthead {
    background-color: #b85c8a;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #f04e9fdc;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
